.top_bg {
	opacity: 0.7;
	clip-path: polygon(0% 0%, 100% 0%, 60% 100%,0% 100%);
	width: 100%;
	height: 60vh;
	background-image: url(../img/会社概要.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

h3::first-letter {
	font-size: 80px;
}

.about_section {
	position: relative;
	width: 100%;
	margin: unset;
}

.company_txt {
	width: 30%;
	margin-top: 5%;
	margin-left: 10%;
	border-bottom: #70ACCE solid 5px;
	font-size: 48px;
	line-height: 1;
	font-family: Zen Antique Soft;
}

.about_wrapper {
	width: 90%;
	line-height: 50px;
}

.about_list {
	width: 100%;
	margin: 5% auto;
	margin-bottom: 15%;
	margin-left: 5%;
}

.about_item {
	display: flex;
	width: 70%;
	margin: auto;
	border-bottom: 1px solid #000000;
	line-height: 5;
	text-align: left;
}

.about_item span {
	width: 30%;
	margin: auto 5%;
	font-weight: bold;
	font-size: 28px;
	text-align: left;
}

.about_item p {
	width: 70%;
	margin: auto;
	font-size: 20px;
}

.member_section {
	position: relative;
	margin-bottom: 15%;
}

.company_mem_all {
	display: flex;
	justify-content: space-evenly;
	width: 70%;
	margin: 5% auto;
	padding: 2%;
	border: solid 1px #000000;
	box-shadow: 20px 20px 30px #DDDDDD;
}

.mem_img {
	width: 150px;
	height: 150px;
	margin: auto 2%;
	margin-left: 5%;
	border: 1px solid #000000;
	border-radius: 50%;
	background-image: url(../img/代表.png);
	background-repeat: no-repeat;
}

.company_mem_per {
	width: 70%;
	margin-left: 10%;
}

.company_mem_ttl {
	position: relative;
	margin-bottom: 2.5%;
	font-size: 32px;
	line-height: 1;
}

.company_mem_name {
	margin-bottom: 3%;
	font-weight: bold;
	font-size: 24px;
}

.company_mem_txt {
	font-size: 1.1rem;
	line-height: 1.8;
}

.bg_box1 {
	clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
	position: absolute;
	top: 18%;
	z-index: -999;
	width: 74%;
	height: 335px;
	background-color: #E6EEFF;
}

.bg_box2 {
	clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
	position: absolute;
	top: 63.1%;
	z-index: -999;
	width: 74%;
	height: 335px;
	background-color: #E6EEFF;
}


.about_acc_map_wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 10%;
}

.about_acc_map {
	clip-path: polygon(0% 0%, 70% 0%, 90% 100%,0% 100%);
	width: 60%;
	height: 52.5vh;
}

.about_acc_map iframe {
	width: 100%;
	height: 100%;
	margin: 3% 0;
	margin-left: 17%;
}

.about_acc_item {
	margin-bottom: 7.5%;
}

.about_acc_ttl {
	margin-bottom: 2.5%;
	font-size: 1.5rem;
}

.about_acc_txt {
	font-size: 1.1rem;
}

.about_acc_list {
	margin-top: 15%;
}

@media screen and (max-width: 1024px) {
	.top_bg {
		height: 30vh;
	}

	.top_text {
		top: 10%;
	}

	.header_logo {
		margin-top: 1%;
	}

	.header_nav ul li {
		font-size: 16px;
	}

	.company_txt {
		font-size: 28px;
	}

	.bg_box1 {
		clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
		position: absolute;
		top: 14%;
		z-index: -999;
		width: 74%;
		height: 400px;
		background-color: #E6EEFF;
	}

	.bg_box2 {
		clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
		position: absolute;
		top: 60%;
		z-index: -999;
		width: 74%;
		height: 400px;
		background-color: #E6EEFF;
	}

	.about_acc_map {
		clip-path: polygon(0% 0%, 70% 0%, 90% 100%,0% 100%);
		width: 60%;
		height: 30vh;
	}
}

@media screen and (max-width: 768px) {
	h3::first-letter {
		font-size: 48px;
	}

	.header_nav ul li {
		font-size: 12px;
	}

	.service_txt {
		font-size: 16px;
	}

	.company_txt {
		width: 40%;
	}

	.about_wrapper {
		width: 90%;
		line-height: 50px;
	}

	.about_list {
		width: 100%;
		margin: 5% auto;
		margin-bottom: 15%;
		margin-left: 5%;
	}

	.about_item {
		display: flex;
		width: 70%;
		margin: auto;
		border-bottom: 1px solid #000000;
		line-height: 5;
		text-align: left;
	}

	.about_item span {
		width: 30%;
		margin: auto 5%;
		font-weight: bold;
		font-size: 20px;
		text-align: left;
	}

	.about_item p {
		width: 70%;
		margin: auto;
		font-size: 16px;
	}

	.bg_box1 {
		clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
		position: absolute;
		top: 8.3%;
		z-index: -999;
		width: 74.5%;
		height: 480px;
		background-color: #E6EEFF;
	}

	.bg_box2 {
		clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
		position: absolute;
		top: 56%;
		z-index: -999;
		width: 74.5%;
		height: 480px;
		background-color: #E6EEFF;
	}

	.mem_img {
		width: 150px;
		height: 150px;
		margin: 5% 0 10% 5%;
		background-position: center;
		;
	}

	.about_acc_map {
		clip-path: polygon(0% 0%, 70% 0%, 90% 100%,0% 100%);
		width: 60%;
		height: 25vh;
	}


	.about_acc_ttl {
		margin-bottom: 2.5%;
		font-size: 1.2rem;
	}

	.about_acc_txt {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 480px) {
	.top_bg {
		height: 20vh;
	}

	.header_logo {
		width: 60%;
		margin-top: 3%;
		margin-left: 2%;
	}

	.top_text {
		z-index: 50;
		width: 60%;
		font-size: 36px;
	}
	.top_text h1 {
		z-index: 50;
	}

	.top_text span {
		font-size: 20px;
	}

	h3::first-letter {
		font-size: 20px;
	}

	.company_txt {
		width: 40%;
		font-size: 12px;
	}
	.about_wrapper {
		width: 90%;
		line-height: 50px;
	}

	.about_list {
		width: 100%;
		margin: 5% auto;
		margin-bottom: 15%;
		margin-left: 5%;
	}

	.about_item {
		display: flex;
		width: 90%;
		margin: auto;
		border-bottom: 1px solid #000000;
		line-height: 5;
		text-align: left;
	}

	.about_item span {
		width: 30%;
		margin: auto 5%;
		font-weight: bold;
		font-size: 12px;
		text-align: left;
	}

	.about_item p {
		width: 70%;
		margin: auto;
		font-size: 8px;
	}

	.company_mem_all {
		flex-direction: column;
		width: 85%;
	}

	.mem_img {
		width: 120px;
		height: 120px;
		margin: 5% 0 10% 5%;
		background-position: center;
		;
	}
	.company_mem_txt {
		width: 120%;
	}

	.bg_box1 {
		clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
		position: absolute;
		top: 3%;
		left: 5%;
		z-index: -999;
		width: 89%;
		height: 690px;
		background-color: #E6EEFF;
	}

	.bg_box2 {
		clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
		position: absolute;
		top: 52%;
		left: 5%;
		z-index: -999;
		width: 89%;
		height: 690px;
		background-color: #E6EEFF;
	}

	.about_acc_map_wrapper{
		display: block;
	}

	.about_acc_map {
		clip-path: unset;
		width:75%;
		}

		.about_acc_item{
			margin-left: 15%;
			margin-bottom: 5%;
		}

		.about_acc_list{
			margin-top: 5%;
			line-height: 1.4;
		}

	.about_acc_ttl {
		font-size: 16px;
		margin: unset;
	}

	.about_acc_txt {
		width: 75%;
		font-size: 8px;
	}
}
