/* top */
.top {
	position: relative;
	width: 100%;
	height: 100vh;
}

.top_bg {
	width: 100%;
	height: 100%;
	background-image: url(../img/図2.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.top_img {
	position: relative;
	width: 100%;
	height: 100%;
}

.top_img img {
	position: absolute;
	top: 20%;
	left: 30%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: auto;
}

/* top2 */
.top2 {
	position: relative;
	width: 100%;
	height: 50vh;
	margin-top: 5%;
	background: #FFFFFF;
}

.top2_txt {
	position: absolute;
	top: 10%;
	left: 20%;
	z-index: 999;
	width: 60%;
	font-size: 22px;
	line-height: 2.2;
}

.top2_bg {
	position: relative;
	width: 50%;
	height: 30vh;
	margin-top: 10%;
	margin-left: 10%;
	border-radius: 30px;
	background-color: #D8F3FF;
}

.top2_bg2 {
	position: relative;
	width: 50%;
	height: 25vh;
	margin-top: -10%;
	margin-left: 40%;
	border-radius: 30px;
	background-color: #D8F3FF;
}

/* news */
.news section {
	display: flex;
	width: 100%;
}

.news {
	position: relative;
}

.news_inner {
	display: flex;
	width: 70%;
	margin: 0 auto;
	margin-top: 10%;
}

.news p {
	width: 100%;
	margin-top: 95%;
	margin-left: 20%;
	font-size: 38px;
	line-height: 80%;
	font-family: Zen Antique Soft;
}

p::first-letter {
	font-size: 72px;
}

.news small {
	font-size: 28px;
}

.box {
	position: absolute;
	top: 51%;
	left: 65%;
	z-index: -999;
	width: 180px;
	height: 80px;
	background-color: #D9D9D9;
}

.news_list li {
	width: 120%;
	margin-left: 30%;
	border-bottom: 1px solid #000000;
}

.news_info {
	margin-left: 20%;
	font-size: 24px;
	line-height: 4;
	text-align: start;
}

.btn_contents_news {
	width: 15%;
	margin: 5% 5% 5% 70%;
}

.btn_contents_news a {
	display: block;
	width: 100%;
	height: 100%;
	background: #000000;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	line-height: 3;
	text-align: center;
}

/* contents */
.contents_section {
	display: flex;
	position: relative;
	width: 100%;
}

.contents_left {
	width: 50%;
}

.contents_left p {
	margin-top: 5%;
	margin-left: 25%;
	font-size: 48px;
	line-height: 1;
	font-family: Zen Antique Soft;
}

.contents_left p small {
	margin-left: 20%;
	font-size: 32px;
	font-family: Zen Antique Soft;
}

.contents_box {
	position: absolute;
	top: 15%;
	left: 18%;
	z-index: -999;
	width: 200px;
	height: 70px;
	background-color: #D9D9D9;
}

.contents_txt {
	width: 50%;
	margin-left: 45%;
	font-weight: bold;
	font-size: 16px;
}

.contents_right {
	position: relative;
	width: 50%;
	height: 45vh;
	background-image: url(../img/事業.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.contents_right2 {
	position: relative;
	width: 50%;
	height: 45vh;
	background-image: url(../img/会社概要.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.contents_right3 {
	position: relative;
	width: 50%;
	height: 45vh;
	background-image: url(../img/お問い合わせ.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bk {
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
}

.contents_list {
	position: absolute;
	top: 15%;
	left: 10%;
	font-weight: bold;
	font-size: 24px;
	line-height: 3;
}

.btn_contents {
	position: absolute;
	top: 70%;
	left: 60%;
	width: 180px;
	line-height: 2;
}

.btn_contents a {
	display: block;
	width: 100%;
	height: 100%;
	background: #000000;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}


/* レスポンシブ */
/* PC */
@media screen and (max-width: 1024px) {
	.top {
		height: 40vh;
	}

	.top_img img {
		left: 40%;
		width: 60%;
	}

	.top_img {
		width: 100%;
	}

	.top2 {
		margin: unset;
		margin-bottom: -10%;
	}

	.top2_bg {
		height: 20vh;
	}

	.top2_bg2 {
		height: 20vh;
	}

	.news_inner {
		display: flex;
		width: 80%;
	}

	p::first-letter {
		font-size: 46px;
	}

	.box {
		position: absolute;
		top: 50%;
		left: 65%;
		z-index: -999;
		width: 120px;
		height: 50px;
		background-color: #D9D9D9;
	}

	.news p {
		font-size: 24px;
		line-height: 1;
	}

	.news p small {
		font-size: 22px;
	}

	.news_list li {
		margin: unset;
		margin-left: 3%;
		font-size: 18px;
	}

	.contents_section {
		margin: unset;
	}

	.contents_box {
		position: absolute;
		top: 15%;
		left: 18%;
		z-index: -999;
		width: 150px;
		height: 60px;
		background-color: #D9D9D9;
	}

	p::first-letter {
		font-size: 46px;
	}

	.contents_left p {
		font-size: 24px;
	}

	.contents_left p small {
		font-size: 24px;
	}

	.contents_txt {
		margin-top: 3%;
	}

	.contents_right, .contents_right2, .contents_right3 {
		height: 20vh;
	}

	.contents_list li {
		font-size: 16px;
		line-height: 4;
	}

	.btn_contents {
		position: absolute;
		top: 70%;
		left: 55%;
		width: 150px;
		line-height: 2.5;
	}

	.btn_contents a {
		display: block;
		width: 100%;
		height: 100%;
		background: #000000;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.top {
		height: 30vh;
		margin: unset;
	}

	.top_img img {
		left: 40%;
		width: 60%;
	}

	.top2 {
		height: 40vh;
	}

	.top2_txt {
		margin: unset;
		font-size: 16px;
		line-height: unset;
	}

	.top2_bg {
		height: 15vh;
	}

	.top2_bg2 {
		height: 15vh;
		margin-top: -3%;
	}

	.top2 {
		margin-bottom: -13%;
	}

	.news p small {
		font-size: 18px;
	}

	.news_section {
		margin-bottom: 8%;
	}

	.news_list li {
		margin: unset;
		margin-left: 3%;
		font-size: 16px;
	}

	.box {
		position: absolute;
		top: 48%;
		left: 50%;
		z-index: -999;
		width: 120px;
		height: 50px;
		background-color: #D9D9D9;
	}

	.btn_contents_news {
		width: 20%;
		height: 50px;
		margin: 5% 5% 5% 70%;
	}

	.btn_contents_news a {
		display: block;
		width: 100%;
		height: 100%;
		margin-bottom: 10%;
		background: #000000;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
	}

	.contents_txt {
		margin-top: 5%;
		font-size: 11px;
	}

	p::first-letter {
		font-size: 42px;
	}

	.contents_left p {
		font-size: 24px;
	}

	.contents_left p small {
		font-size: 20px;
	}

	.contents_list li {
		font-size: 16px;
		line-height: 3;
	}
}

@media screen and (max-width: 480px) {
	.top_img img {
		width: 70%;
	}

	.inner {
		height: 50%;
	}

	.top2 {
		z-index: 1;
		margin: unset;
		margin-top: 3%;
		margin-bottom: -30%;
	}

	.top2_txt {
		left: 16%;
		width: 70%;
		font-size: 14px;
		letter-spacing: unset;
	}

	.top2_bg {
		height: 27vh;
		margin-top: 2%;
	}

	.top2_bg2 {
		height: 24vh;
		margin-top: -10%;
	}

	.news_section {
		margin: unset;
		margin-top: 50%;
	}

	.news_inner {
		display: unset;
		width: 100%;
	}

	.news_list li {
		width: 80%;
		margin: unset;
		margin: auto;
		margin-top: 5%;
		font-size: 12px;
	}

	.news_info {
		margin: unset;
		line-height: 2.5;
	}

	.news p {
		width: 90%;
		margin: unset;
		margin-left: 10%;
		font-size: 18px;
	}

		.news p small {
		font-size: 12px;
}

	.box {
		position: absolute;
		top: 34%;
		left: 15%;
		z-index: -999;
		width: 90px;
		height: 31px;
		background-color: #D9D9D9;
	}

	.btn_contents_news {
		width: 30%;
		height: 35px;
		margin: 5% 5% 10% 60%;
	}

	.btn_contents_news a {
		display: block;
		width: 100%;
		height: 100%;
		margin: unset;
		background: #000000;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 12px;
		text-align: center;
	}

	.contents_right, .contents_right2, .contents_right3 {
		height: 25vh;
	}

	.contents_txt {
		width: 70%;
		margin: unset;
		margin: 8% 0 0 25%;
		font-weight: unset;
		font-size: 8px;
	}

	p::first-letter {
		font-size: 28px;
	}

	.contents_left p {
		font-size: 18px;
	}

	.contents_left p small {
		font-size: 12px;
	}

	.contents_list li {
		font-size: 12px;
		line-height: 2;
	}

	.btn_contents {
		position: absolute;
		top: 70%;
		left: 40%;
		width: 90px;
		line-height: 2;
	}

	.btn_contents a {
		display: block;
		width: 100%;
		height: 100%;
		background: #000000;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 10px;
		text-align: center;
	}

	.contents_box {
		position: absolute;
		top: 15%;
		left: 18%;
		z-index: -999;
		width: 80px;
		height: 30px;
		background-color: #D9D9D9;
	}

	.footer_logo {
		width: 50%;
	}

	.footer_item {
		font-size: 12px;
	}

	.footer_sns .sns_icon1, .sns_icon2 {
		margin: 0 5%;
		font-size: 16px;
	}

	.footer_txt {
		font-size: 8px;
	}
}
