/* service */
h3::first-letter {
	font-size: 80px;
}

.service_section {
	position: relative;
	width: 80%;
	margin: 5% auto;
}

.service_wrapper {
	display: flex;
	width: 100%;
}

.service_txt {
	width: 30%;
	border-bottom: #70ACCE solid 5px;
	font-size: 48px;
	line-height: 1;
	font-family: Zen Antique Soft;
}

.service_detail {
	width: 40%;
	margin-top: 2%;
	font-weight: unset;
	font-size: 16px;
	line-height: 1.4;
}

.service_block_ricruit_img1 {
	position: relative;
	width: 50vh;
	height: 50vh;
	margin-top: 22%;
	margin-left: 90%;
	border: 1px solid #000000;
	background: url(../img/採用.jpg) center center no-repeat;
	background-size: cover;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
}

.service_block_ricruit_img1:hover {
	opacity: 0.8;
	transform: scale(0.95);
	transition: all 0.3s ease-in-out 0s;
}

.service_block_ricruit_img2 {
	position: relative;
	width: 50vh;
	height: 50vh;
	margin-top: 22%;
	margin-left: 140%;
	border: 1px solid #000000;
	background: url(../img/採用.jpg) center center no-repeat;
	background-size: cover;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
}

.service_block_ricruit_img2:hover {
	opacity: 0.8;
	transform: scale(0.95);
	transition: all 0.3s ease-in-out 0s;
}

.service_block_ricruit_text {
	position: absolute;
	bottom: 0;
	width: 80%;
	padding: 0 10%;
	background-color: rgba(230, 230, 230, 0.6);
	color: #000000;
	line-height: 1.5;
}

.service_block_ricruit_text strong {
	font-size: 24px;
}

.service_box {
	position: absolute;
	top: 35%;
	right: -12.5%;
	z-index: -999;
	width: 100%;
	width: 1200px;
	height: 480px;
	background-color: #EDEDED;
}

.service_section2 {
	position: relative;
	width: 80%;
	margin-top: 15%;
	margin-left: 10%;
}

.service_block_ricruit_img3 {
	position: relative;
	width: 50vh;
	height: 50vh;
	margin-top: 30%;
	margin-left: 90%;
	border: 1px solid #000000;
	background: url(../img/投資家.jpg) center center no-repeat;
	background-size: cover;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
}

.service_block_ricruit_img3:hover {
	opacity: 0.8;
	transform: scale(0.95);
	transition: all 0.3s ease-in-out 0s;
}

.service_block_ricruit_img4 {
	position: relative;
	width: 50vh;
	height: 50vh;
	margin-top: 30%;
	margin-left: 140%;
	border: 1px solid #000000;
	background: url(../img/投資家.jpg) center center no-repeat;
	background-size: cover;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
}

.service_block_ricruit_img4:hover {
	opacity: 0.8;
	transform: scale(0.95);
	transition: all 0.3s ease-in-out 0s;
}
.service_section2 {
	margin-bottom: 20%;
}

@media screen and (max-width: 1024px) {
	.service_txt {
		font-size: 32px;
	}

	.service_detail {
		width: 60%;
	}

	.service_box {
		position: absolute;
		top: 35%;
		right: -12.5%;
		z-index: -999;
		width: 100%;
		width: 1200px;
		height: 450px;
		background-color: #EDEDED;
	}

	.service_block_ricruit_img1, .service_block_ricruit_img2, .service_block_ricruit_img3, .service_block_ricruit_img4 {
		width: 25vh;
		height: 25vh;
	}

	.service_block_ricruit_img1, .service_block_ricruit_img3 {
		width: 25vh;
		height: 25vh;
		margin: unset;
		margin-top: 27%;
		margin-left: 30%;
	}

	.service_block_ricruit_img2, .service_block_ricruit_img4 {
		width: 25vh;
		height: 25vh;
		margin: unset;
		margin-top: 27%;
		margin-left: 50%;
	}

	.service_box {
		position: absolute;
		top: 35%;
		right: -12.5%;
		z-index: -999;
		width: 100%;
		width: 900px;
		height: 480px;
		background-color: #EDEDED;
	}

	.service_block_ricruit_text {
		line-height: 1.5;
	}
}

@media screen and (max-width: 768px) {
	.service_detail {
		width: 60%;
	}

	h3::first-letter {
		font-size: 48px;
	}

	.service_txt {
		font-size: 24px;
	}
	.service_detail {
		width: 65%;
	}
	.service_box {
		position: absolute;
		top: 40%;
		right: -12.5%;
		z-index: -999;
		width: 100%;
		width: 670px;
		height: 300px;
		background-color: #EDEDED;
	}

	.service_block_ricruit_img1, .service_block_ricruit_img3 {
		width: 25vh;
		height: 25vh;
		margin: unset;
		margin-top: 12%;
		margin-left: 30%;
	}

	.service_block_ricruit_img2, .service_block_ricruit_img4 {
		width: 25vh;
		height: 25vh;
		margin: unset;
		margin-top: 12%;
		margin-left: 50%;
	}

	.service_block_ricruit_img3, .service_block_ricruit_img4 {
		margin-top: 20%;
	}

	.service_block_ricruit_text {
		margin-top: 20%;
	}
}

@media screen and (max-width: 480px) {
	.top_bg {
		height: 20vh;
	}
	.top_text {
		z-index: 50;
		font-size: 36px;
	}
	.top_text h1 {
		z-index: 50;
	}

	.top_text span {
		font-size: 20px;
	}

	h3::first-letter {
		font-size: 32px;
	}

	.service_txt {
		width: 40%;
		font-size: 16px;
	}

	.service_detail {
		width: 95%;
	}

	.service_wrapper {
		display: unset;
		margin: unset;
	}

	.service_block_ricruit_img1, .service_block_ricruit_img2, .service_block_ricruit_img3, .service_block_ricruit_img4 {
		width: 30vh;
		height: 25vh;
		margin: unset;
		margin: auto;
		margin-top: 10%;
	}

	.service_box {
		width: 0;
		height: 0;
	}

	.service_block_ricruit_text {
		font-size: 12px;
	}

	.footer_logo {
		width: 50%;
	}

	.footer_item {
		font-size: 12px;
	}

	.footer_sns .sns_icon1, .sns_icon2 {
		margin: 0 5%;
	}

	.footer_txt {
		font-size: 8px;
	}
}
